node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
/.expo-shared/
/coverage/
/package-lock.json
/passwords.json

!/.idea/
/.idea/*
!/.idea/runConfigurations
