<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <uses-permission tools:node="remove" android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission tools:node="remove" android:name="android.permission.MANAGE_DOCUMENTS"/>
    <uses-permission tools:node="remove" android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission tools:node="remove" android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission tools:node="remove" android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission tools:node="remove" android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission tools:node="remove" android:name="android.permission.READ_CONTACTS"/>
    <uses-permission tools:node="remove" android:name="android.permission.READ_CALENDAR"/>
    <uses-permission tools:node="remove" android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission tools:node="remove" android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission tools:node="remove" android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission tools:node="remove" android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission tools:node="remove" android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>
