name: build-android

on:
  push:
    branches:
      - 'master'
        #tags:


jobs:
  build-android:
    runs-on: ubuntu-latest
    environment: build

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Get tag
        id: tag
        run: echo '::set-output name=tag::`git describe --tags`'
      - name: Install dependencies
        run: npm ci --legacy-peer-deps
      - uses: szenius/set-timezone@v1.0
        with:
          timezoneLinux: "Europe/Paris"
          timezoneMacos: "Europe/Paris"
      - name: Run linter
        run: npm run lint
      - name: Run tests
        run: npm test
      - name: add keys
        run:  |
              mkdir -p android/keystores
              echo "${{ secrets.KEYSTORE_PROPERTIES_64 }}" | base64 -d > android/keystores/release.keystore.properties
              echo "${{ secrets.JKS_64 }}" | base64 -d > android/app/application-amicale.jks
      - name: build
        run: npm run bundle
      - uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE }}
          packageName: fr.amicaleinsat.application
          releaseFiles: android/app/build/outputs/bundle/release/app-release.aab
          track: internal
          releaseName: ${{steps.tag.outputs.tag}}

